{% extends 'VulnBundle:User:layout.html.twig' %}

{% block body %}
    <h1>Users</h1>
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                <a href="" class="close" data-dismess="alert">&times;</a>
                <strong>{{ flash }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('account_show', {'userId': user.id}) }}">{{ user.username }}</a></td>
                <td>{{ user.email }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>NONE</td>
                {#<td>{{ user.role|upper }}</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}