{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '@VulnBundle/Resources/public/css/*' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a href="/" class="brand">
                    PHP Application {% block userName %} [{{ user.userName }}|{{ user.role }}] {% endblock %}
                </a>
                {% block navbar %}
                    <ul class="nav pull-right">
                        <li><a href="">Change password</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('logout') }}">Logout</a></li>
                    </ul>
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '@VulnBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}